taskfile/__pycache__/__init__.cpython-39.pyc
taskfile/__pycache__/shopee_coin.cpython-39.pyc
method/__pycache__/task.cpython-39.pyc
method/__pycache__/main.cpython-39.pyc
method/__pycache__/event.cpython-39.pyc
core/__pycache__/classes.cpython-39.pyc
